<div class="movie-details">
  <div>
    <img
      class="movie-details__image"
      [src]="pictureUri + movie.poster_path"
      [alt]="movie.title"
    />
    <div class="movie-details__info">
      <p class="movie-details__title">{{ movie.title }}</p>
      <p class="movie-details__description">{{ movie.overview }}</p>
      <p class="movie-details__date">
        {{ movie.release_date | date : "dd.MM.yyyy" }}
      </p>
      <p class="movie-details__rating">
        {{ movie.vote_average | number : "1.1-1" }}
      </p>
    </div>
  </div>
  <div style="max-height: 450px">
    <app-trailer [id]="movie.id"></app-trailer>
  </div>
</div>
