<app-slider *ngIf="!isSearching" [list]="list"></app-slider>

<ul class="gallery">
  <li *ngFor="let item of list" [routerLink]="[item.id]" class="gallery__item">
    <img [src]="pictureUriSmall + item.poster_path" alt="" />
    <div class="gallery__item__description">
      <p class="gallery__item__description__title">
        {{ item.original_title }}
      </p>
      <div class="gallery__item__description__info">
        <p class="gallery__item__description__info__date">
          {{ item.release_date | date : "dd.MM.yyyy" }}
        </p>
        <p class="gallery__item__description__info__rating">
          {{ item.vote_average | number : "1.1-1" }}
        </p>
      </div>
    </div>
  </li>
</ul>
