<header class="header" [class.scrolled]="scrolled">
  <app-logo></app-logo>

  <app-burger-menu></app-burger-menu>
  
  <div style="display: flex; position: relative; width: 100%">
    <input
      class="header__input"
      type="text"
      placeholder="Search"

    />
    <button
      type="button"
      class="header__input__button"
      (click)="getMovieByKeyword()"
    >
      <i class="bi bi-search"></i>
    </button>
  </div>

  <button type="button" class="header__subscribe__button">IMDBPro</button>
  <div class="header__separater"></div>
  <a type="button" class="header__button__watchlist" routerLink="/watchlist">
    <i class="bi bi-bookmark-plus"></i>Wathchlist
  </a>
</header>
