<div class="title">
  <p>{{ watchlist.length === 0 ? "Watchlist is empty" : "Watchlist" }}</p>
</div>
<ul class="watchlist" *ngIf="watchlist.length > 0">
  <li class="watchlist__item" *ngFor="let movie of watchlist">
    <img [src]="pictureUriSmall + movie.poster_path" alt="{{ movie.title }}" />
    <div class="watchlist__item__info">
      <p>{{ movie.title ? movie.title : 'The Title' }}</p>
      <p>{{ movie.release_date | date : "dd.MM.yyyy" }}</p>
      <button (click)="removeFromWatchlist(movie.id)">
        <i class="bi bi-bookmark-dash"></i>
      </button>
    </div>
  </li>
</ul>
