<ul class="menu">
  <li class="menu__item" (click)="onMenuItemClick()">
    <a class="menu__item__link" routerLink="/" routerLinkActive="active"
      >Home</a
    >
  </li>
  <li class="menu__item" (click)="onMenuItemClick()">
    <a class="menu__item__link" routerLink="/movies" routerLinkActive="active"
      >Movies</a
    >
  </li>
  <li class="menu__item" (click)="onMenuItemClick()">
    <a class="menu__item__link" routerLink="/serials" routerLinkActive="active"
      >Serials</a
    >
  </li>
</ul>
